.btn-custom{
  background-color:#48979F;
  color:white;
  border:none;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.dropdown-toggle.btn-custom {
    color: white;
    background-color: #48979F;
}

.btn-custom2{
  background-color:white;
  color:  #48979F;
  border: solid #48979F;
}

.btn-custom2:hover, .btn-custom2:focus, .btn-custom2:active, .open>.dropdown-toggle.btn-custom2 {
  color: white;
  background-color:#48979F;
}

.dropdown-right{
  float: right;
  padding:6px 0;
}

.Banner{
  background: #4F8BA2 ;
  filter: drop-shadow(0px 8px 13px rgba(0, 0, 0, 0.15));
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 64px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}

.Title{
  padding-top:15px;
}

.leftpanel{
  padding-top:20px;
}

.panel-wrap {
  margin-bottom: 5px;
}

.btn-panel-header {
  border: none;
  background-color:  #C4C4C4;
  border-radius:0 20px 20px 0;
  height:35px;
  margin-left: 10px;
  width:85%;
  color:black;
}

.btn-panel-header:hover, .btn-panel-header:active, .open>.dropdown-toggle.btn-panel-header {
    color: white;
    background-color: #D1804E;
    box-shadow:none;
}

.btn-panel-header:focus{
  box-shadow:none
}

.btn-panel-header-active{
  border: none;
  border-radius:0 20px 20px 0;
  height:35px;
  margin-left: 10px;
  width:85%;
  color: white;
  background-color: #D1804E;
  box-shadow:none;
}

.btn-panel-header-active:hover, .btn-panel-header-active:focus, .btn-panel-header-active:active, .open>.dropdown-toggle.btn-panel-header-active {
    color: white;
    background-color: #D1804E;
    box-shadow:none;
}


.custom-menu{
  width:90%;
  font-size:12px;
}

.dropdown-menu {
  height: 150px;
  overflow-y: scroll;
}

.panel-header button:focus {
  outline: 1px auto blue;
}

.panel-body {
  border-left: 1.8px solid #9D9D9D;
  background: transparent;
  margin:10px 20px;
  color: #333333;
  border-top: none;
}

.body-text{
  padding-left:0.5rem;
  font-size: 0.8rem;
  color:#545454;
}

.panel-body-hidden{
  display:none;
}

.btn-transparent{
  margin-left:20px;
  width:14rem;
  height:20px;
  font-size:12px;
  padding:0 10px;
  text-align:left;
  border-radius:5px;
  border:1px solid #868686;
  background-color:white;
}

.dropdown-transparent-btn::after {
    content: none;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .open>.dropdown-toggle.btn-transparent {
    background-color: white;
    box-shadow: none;
}

.dropdown-marker{
  margin-left:1.4rem;
}

.submit-btn{
  margin-left:5rem;
}

.copy-btn{
  position:absolute;
  bottom:0;
  right:0;
}

.left-container{
  min-height:80vh;
}

.leftpanel{
  border-right:2px solid #cfcfcf;
}

.reset-buttons{
  position:absolute;
  bottom:0;
  right:0;
}

.reset-buttons{
  position:absolute;
  bottom:0;
  right:0;
}

.icon {
  padding-right: 5px;
}

.undo{
  width:1.6rem;
  height:1.5rem;
}

.filters{
  border-right:2px solid #cfcfcf;
}

.filter-text{
  background-color:white;
  color:white;
  font-size:20px;
}

#popup{
  background-color:#D1804E;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.filter-item{
  margin:auto;
  background-color: #D1804E;
  color: white;
  /* text-color: white; */
  border-radius: 10px;
}

#chart {
  padding : 0px;
  position: relative;
  z-index: 1;
}
